/* .button {
  background-color: peachpuff;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(200, 226, 226);
  color: white;
  text-align: center;
}

.container {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
