.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(200, 226, 226);
  color: white;
  text-align: center;
}

.container20 {
  text-align: center;
  /* height: calc(100vh - 60px); */
  margin-top: 150px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
