.App {
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
  font-family: "Ubuntu", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  /* color: white; */
}

.App-header a {
  /* color: white; */
  padding: 0 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container80 {
  width: 60%;
  color: white;
}

.foot {
  color: black;
}

.Link {
  color: white;
}

a {
  color: white;
}
